body {
    background-color:darkslategray;
    color: papayawhip;

    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

a {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    color: white;
    text-decoration: none;

    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px 20px;
}

a:hover {
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
}

#linkedin {
    background-color:steelblue;
}

#youtube {
    background-color: crimson;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: center; /* align items horizontally */
    min-width: 700px;
}

.intro {
    width: 40%;
    margin-left: 40px;
}

#elon {
    width: 260px;
    border-radius: 20px;
}

#cybertruck {
    width: 300px;
    margin-left: 40px;
    border-radius: 20px;
}
